.container {
   
    margin-left: 25vw;
    margin-top: 20vh;
    background-color:#fffafa;
    border-radius: 8px;
    width: 40vw;
    height: 50vh;

  }
  
.container input {
    background: #f5f5f5;
    border-radius: 8px;
    border: 0;
    padding: 10px 24px;
    font-size: 16px;
    color: #6C6C80;
}


label {

    text-align: left;
    margin-top: 20px;;
    padding: 8px;
    font-size: 14px;
    color: #6C6C80;


}

.container div{
    
    margin-top: 20px;
    display: flex;
    flex-direction: column;
    justify-content: left;
    align-items: center;
}

